a:link,
a:visited {
    border-color: silver;
    border-style: groove;
    background-color: red;
    font-size: 17px;
    color: black;
    font-family: serif;
    padding: 15px 15px;
    width: 30px;
    height: 15px;
    text-align: center;
}

a:hover,
a:active {
    background-color: whitesmoke;
}