table,
td,
th {
    border-color: red;
    border-style: groove;
    border-collapse: collapse;
    text-align: center;
    font-family: Times;
    color: white;
    font-size: 25px;
}

h2 {
    color: white;
    border-style: ridge;
    border-color: red;
    padding: 30px 30px;
    font-family: serif;
    font-size: 28px;
}

h4 {
    color: white;
    background-color: red;
    border-style: rounded;
    border-color: red;
    padding: 10px 10px;
    width: 200px;
    text-align: center;
    font-family: serif;
    font-size: 20px;
}

p {
    background-color: black;
    color: white;
    padding: 15px 15px;
    font-family: serif;
    font-size: 25px;
    line-height: 1px;
}

a.one:link,
a.one:visited {
    background-color: black;
    font-size: 25px;
    color: white;
    font-family: serif;
    width: 30px;
    height: 15px;
    text-align: center;
}

a.two:link,
a.two:visited {
    border-color: silver;
    border-style: groove;
    background-color: red;
    font-size: 17px;
    color: black;
    font-family: serif;
    padding: 15px 15px;
    width: 30px;
    height: 15px;
    text-align: center;
}

a.two:hover,
a.two:active {
    background-color: whitesmoke;
}